---
title: Home
---

<div class="container-outer block-full d-flex justify-content-center align-items-center">
  <a href="mailto:alejandrazuero@gmail.com" class="btn btn-main top-right">EMAIL</a>
  <div class="top-left text-md">
    <span class="link-main link-main-md disabled">EN</span> | <a href="/es" class="link-main link-main-md">ES</a>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <div class="p-4">
          <h1 class="mt-4 mb-4">Alejandra Azuero-Quijano is an anthropologist, legal scholar, and writer.</h1>
          <p class="js-header">
            <a href="#" data-target="#bio" class="js-scroll-to link-main">BIO</a>
            <a href="#" data-target="#publication-and-writing" class="js-scroll-to link-main">WRITING</a>
            <a href="#" data-target="#research" class="js-scroll-to link-main">RESEARCH</a>
            <a href="https://drive.google.com/file/d/1ScokrQZw-upDx-bPQjE56hBIvpveVrHj/view?ts=5f80deaa" target="_blank" class="link-main">Alejandra's CV</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="bio" class="container-outer bg-grey bordered-top">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="section-header">
          <div class="divider"></div>
          <h1 class="title-section">Alejandra's Bio</h1>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4 d-md-none">
        <img src="/images/alejandra-azuero-quijano.jpg" class="w-100 mb-3">
      </div>
      <div class="col-md-6">
        <div class="block pe-3">
          <p class="mb-3">Alejandra Azuero-Quijano works at the intersection of law and anthropology. Her research examines the role of legal knowledge in political transition. Her first book manuscript, <em>Redesigning Crime</em>, investigates the relation between design, criminal liability, and forensics. Her current book project, <em>Forensics of Finance</em>, examines the role of financial forensic expertise in shaping Colombia’s most recent political transition. Azuero-Quijano holds an SJD from Harvard Law School and is a PhD Candidate in anthropology at the University of Chicago. Her academic writing is forthcoming in <em>Grey Room</em> and <em>PoLAR</em>. Her essays and poetry have appeared in <em>AlJazeera</em> and <em>New American Writing</em>, among others.</p>
        </div>
      </div>
      <div class="col-md-4 d-none d-md-flex">
        <img src="/images/alejandra-azuero-quijano.jpg" class="w-100">
      </div>
    </div>
  </div>
</div>
<div id="publication-and-writing" class="">
  <div class="container-outer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="section-header">
            <div class="divider"></div>
            <h1 class="title-section">Writing & Publications</h1>
          </div>

          <div class="bg-white p-4 mb-5">
            <div class="row">
              <div class="col-md-5">
                <img src="/images/el-paro-como-teoria.jpg" class="w-100">
              </div>
              <div class="col-md-7">
                <div class="block pe-3">
                  <div class="divider-sm"></div>
                  <h2 class="mb-1">El Paro Como Teoría</h2>
                  <p class="text-bold text-sm mb-4">AVAILABLE FEBRUARY 28, 2023</p>
                  <p class="mb-3 text-md">El paro nacional colombiano comenzó el 28 de abril de 2021 como reacción en contra de la controversial reforma fiscal impulsada por el gobierno en medio de la pandemia. Si bien el estallido social comenzó y terminó ese mismo año, la fuerza histórica del evento fue más allá, poniendo en marcha formas de experimentación estética, política y de sentido que aún no terminan.</p>
                  <p class="mb-3 text-md">Alejandra Azuero Quijano propone pensar el paro como un estallido epistémico, un acontecimiento que articula historias y ritmos de tiempo que permiten repensar el pasado para entender y actualizar el presente. A partir de repertorios de resistencia e interrupción, el paro nacional reorganiza las coordenadas con las que se entiende, imagina, percibe y representa la política colombiana y, por extensión, la realidad política y social de América Latina y el Caribe.</p>
                  <p class="mb-4 text-md">Estamos frente a un acontecimiento que tiene la capacidad de cambiarlo todo: la política, las condiciones sensibles y los modos del saber. Por eso mismo, el paro también llama a poner en marcha otras formas de narrar, de pensar y de representar su historia.</p>
                  <div class="">
                    <a href="https://books.google.com/books?id=2C6uEAAAQBAJ&pg=PP1&lpg=PP1&dq=alejandra+azuero+el+paro+como+teoria+herder+contrapunto&source=bl&ots=p32pV8MVJG&sig=ACfU3U0dcXPgPq0wvq0fRhTyO5FDGZEW-w&hl=en&sa=X&ved=2ahUKEwjJ95-m7Lb9AhVmF1kFHRIAAtkQ6AF6BAgrEAM#v=onepage&q=alejandra%20azuero%20el%20paro%20como%20teoria%20herder%20contrapunto&f=false" class="btn btn-main text-uppercase me-1" target="_blank">Buy on Google Books</a>
                    <a href="https://www.amazon.com/paro-como-teor%C3%ADa-estallido-Contrapunto-ebook/dp/B0BVW6KN92/ref=sr_1_1?keywords=9788425448249&linkCode=qs&qid=1677577154&s=books&sr=1-1" class="btn btn-main text-uppercase" target="_blank">Buy on Amazon US</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <div class="block pe-3">
                <div class="divider-sm"></div>
                <h2 class="mb-4 mb-3">Recent &amp; Forthcoming</h2>
                <p class="mb-4"> <a href="https://polarjournal.org/2020/11/24/inventories-insurgent-wealth-and-settling-accounts-in-post-agreement-colombia/" target="_blank">“Inventories, Insurgent Wealth, and Settling Accounts in post-Agreement Colombia,”<em>Political and Legal Anthropology Review</em><span>&nbsp;(Online): Emergent Conversations.</span></a></p>
                <p class="mb-4">“Making the ‘World Spectacle Trial’: Design as Forensic Practice at the Nuremberg Trials,”<em>Grey Room</em><span>, 82:__.</span></p>
                <p class="mb-4">“Ambigüedad, Ficción e Ironía en el Museo Forense” [“Ambiguity, Fiction and Irony at the Forensic Museum.”] In<em>La Violencia y sus Sombras en Colombia y México</em><span>&nbsp;(M. Uribe and R. Parrini, eds.). Bogotá: Universidad del Rosario.</span></p>
                <p class="mb-4 pb-5">“Del Contexto a las Finanzas Paramilitares: Trayectoria de una Técnica Forense en Justicia y Paz” [“Genealogy of Context Analysis as Forensic Technique in Colombia’s ‘Justicia y Paz’ Trials”]. In<em>Justicia y Paz desde Otros Lenguajes: Una Mirada Retrospectiva</em><span>&nbsp;(M. Acosta and J. Acosta, eds.). Bogotá: Universidad de la Sabana.</span></p>
              </div>
            </div>
            <div class="col">
              <div class="block pe-3">
                <div class="divider-sm"></div>
                <h2 class="mb-4 mb-3">In Preparation</h2>

                <p class="mb-4"><span class="text-sm text-bold">(book manuscript)</span><br><span>Redesigning Crime: Remaking Criminal Liability at Nuremberg</span></p>
                <p class="mb-4">“Guilty Objects: FARC Finances and the Legal Fictions of Political Transition.”</p>
                <p class="mb-4">“From Conspiracy-as-Contract to the Mueller Investigation.”</p>
                <p class="mb-4"><span class="text-sm text-bold">(with Juana Dávila)</span><br><span>“El Contexto: Genealogía de una Tecnología Transicional”</span></p>
                <p class="mb-4"><span class="text-sm text-bold">(editora)</span><br><span>Laboratorios para la Transición: Perspectivas Críticas sobre Liberalismo Transicional en América Latina.</span></p>

                <p class="mb-0"><a href="/downloads/azuero-past-publications.pdf" target="_blank" class="link-main text-sm mx-0">View past writings</a></p>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div id="research">
  <div class="container-outer bg-grey">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="section-header mb-3">
            <div class="divider"></div>
            <h1 class="title-section">Research</h1>
          </div>
          <div class="row my-3 py-3">
            <div class="col-md-5 d-md-none">
              <img src="/images/forensics-of-finance.jpg" class="w-100">
            </div>
            <div class="col-md-7 border-right-green">
              <div class="block ">
                <div class="divider-sm"></div>
                <h2 class="mb-4 mb-3">Forensics of Design</h2>

                <p class="mb-0 pe-md-4"><em>Redesigning Crime: Remaking Criminal Liability at Nuremberg</em><span>,is a legal history of Nuremberg as the first</span><em>global</em><span>&nbsp;criminal trial. Against the commonly accepted notion that legal aesthetics are subordinated to legal expertise, the book manuscript shows how the practice of designers working for U.S. intelligence agencies shaped the legal project of international criminal justice. Furthermore, it demonstrates how this newly designed forum of global justice rested on a double aesthetic movement: visualizing the Nazi political system through films and charts, while carefully staging the presence of the individually accused inside the courtroom. Organized into four chapters, the study redefines how we understand the making of legal knowledge. It shows that forensics is a design and aesthetic practice that creates the subjects and objects of punishment under criminal law – in this case the representation of Nazi political organization as a criminal conspiracy.</span></p>
              </div>
            </div>
            <div class="col-md-5 d-none d-md-flex">
              <img src="/images/forensics-of-finance.jpg" class="w-100">
            </div>
          </div>
          <div class="row my-3 py-3">
            <div class="col-md-5">
              <img src="/images/forensics-of-design.jpg" class="w-100">
            </div>
            <div class="col-md-7 border-left-green">
              <div class="block ps-md-4">
                <div class="divider-sm"></div>
                <h2 class="mb-4 mb-3">Forensics of Finance</h2>
                <p class="mb-0"><em>Forensics of Finance: Colombia’s Experiments in Transitional Liberalism</em><span>, is an ethnography that shows how the alignment of finance and forensic expertise shaped the project of political transition after the peace agreement between the state and Colombia’s Revolutionary Armed Forces (FARC), one of the oldest insurgent organizations in the world. It argues that the transformation of Colombia’s forensic knowledge production practices in preparation for the signing of the peace agreement recalibrated both the meaning of legal accountability and the project of political transition, thus creating new categories of criminality that then became the subject of criminal prosecution. Moreover, it demonstrates that this happened primarily through a mode of forensic knowledge centered on integrating financial risk analysis methodologies into the state’s prosecutorial apparatus. This experiment, in turn, led to a rise to prominence of finance as an object of forensic knowledge and source of criminal liability capable of exposing all types of social wrongs, from war crimes to corruption.</span></p>
                <p class="text-sm mb-0 mt-4">Illustrations by Sara Vélez García (Sara DeColores) from her series called <em>Dinero Sucio.</em></p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center bg-grey p-5">
  <p class="text-sm mb-2">All content and photography © Alejandra Azuero-Quijano</p>
  <p class="text-xs mb-0"><a href="http://www.windandfog.com/?utm_source=alejandra" class="link-faded">Built by Wind &amp; Fog</a></p>
</div>
